:root {
--primary-color: #4f4aa6;
--secondary-color: #48ca95;
--bg-color: #f7f7f7;
--light--color: #fff;

--header-title-font: Poppins-bold;
--text-font: Poppins;
--menu-font: Poppins-bold;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-extrabold;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

header{
    background-image: url(./assets/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    padding: 10px;
    color: var(--light--color);
}

nav ul li a {
    color: var(--light--color);
    text-decoration: none;
    font-family: var(--menu-font);
}

nav ul li a:hover {
    color: var(--secondary-color);
}

.selected{
    color: var(--secondary-color);
}

.header-img {
    margin:5px 25px;
}


.header-content {
display: flex;
justify-content: center;
margin-top: 5%;
margin-bottom: 50px;
}

.header-content-text {
    max-width: 500px;
    color: var(--light--color);
    display: flex;
    flex-direction: column;
}

.header-content-btns {
    margin-top: 50px;
}

.header-title {
    font-size: 80px;
    font-family: var(--header-title-font);
}

.header-subtitle {
    font-size: 40px;
}

.btn {
    color: var(--light--color);
    padding: 15px 60px;
    border: 2px solid var(--light--color);
    text-decoration: none;
    margin: 0% 5px;
}

.btn:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}